:root {
  --primary-color: #008dda;
  /* --background-color: #f7eedd; */
  --background-color: white;
  --secondary-color: #41c9e2;
  --tertiary-color: #ace2e1;
  --white-color: white;
  --box-shadow-light: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  --box-shadow-dark: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#red-star {
  color: red;
}

.grid-center {
  display: grid;
  place-items: center;
}
.cursor-pointer {
  cursor: pointer;
}
.focus-bck:focus {
  background-color: rgb(243, 243, 243);
}

.hover-bck-gray:hover {
  background-color: rgb(243, 243, 243);
}

/* css for button */
.btn {
  width: max-content;
  height: max-content;
  display: inline-block;
  box-shadow: var(--box-shadow-light);
  transition: all 300 ease;
  border-radius: 10px;
  border: 1.5px solid white;
  padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  margin: max(0.2rem, 2px);
}

/* .btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
} */
.btn:focus {
  border: 1.5px solid rgb(36, 36, 36);
}
.btn:hover {
  box-shadow: rgba(175, 179, 156, 0.25) 0px 30px 60px -12px inset,
    rgba(59, 59, 59, 0.3) 0px 18px 36px -18px inset;
  cursor: pointer;
  border: 1.5px solid rgb(36, 36, 36);
}

.createBtn {
  background-color: rgb(111, 222, 111) !important;
}
.saveBtn {
  background-color: rgb(253, 255, 162) !important;
}
.deleteBtn {
  background-color: rgb(255, 67, 64) !important;
}

.form-input-style {
  width: initial;
  margin: 0.3rem 0;
  padding: 0.5rem;
  border-radius: 6px;
  box-shadow: var(--box-shadow-light);
  transition: all 200ms ease;
  border: none;
  outline: none;
}


/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 6px; /* Width of the scrollbar */
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; /* Color of the track */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #96b5d4; /* Color of the scrollbar handle */
  border-radius: 3px; /* Border radius of the scrollbar handle */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #5283b5; /* Color of the scrollbar handle on hover */
}
