body {
    /* background-color: blueviolet; */
    display: grid;
    place-items: center;
    font-family:  Geneva, Tahoma, sans-serif;

}
h1 {
    width: fit-content;
    margin: 2rem auto;
}
form {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    background-color: rgb(178, 168, 168);
    border-radius: 6px;
    width: 400px;
}

input {
    width:initial;
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 6px;
    outline:none;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
  transition: all 300ms ease;
}
.buttonBox {
    display: flex;
    justify-content: space-around;
}
.buttonBox .btn {
    width: 25%;
    padding: 0.5rem;
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 1px solid #111;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    transition: all 0.3s ease;
    border-radius: 20px;
}

  

.btn::before,
.btn::after {
  position: absolute;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
}
.createButton {
    background-color: rgb(111, 222, 111);
}
.updateButton {
    background-color: rgb(223, 225, 95);
}
.deleteButton {
    background-color: rgb(255, 67, 64);
} 
.btn:hover {
    box-shadow: rgba(103, 103, 131, 0.25) 0px 30px 60px -12px inset,
      rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
      /* background-color: white; */
      cursor: pointer;
}

input:hover {
    background-color: rgb(214, 214, 214);
}
input::placeholder {
    color:rgb(150, 150, 150);
}
