
.nav-link {
  color: white;
  width: 4rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}
.nav-link > .navlink {
    text-decoration: none;
    color: white;
}
.nav-link:hover {
  background-color: white;
  border-radius: 15px;
  color: var(--primary-color);
}
.nav-link:hover > .navlink {
    color:var(--primary-color);
    font-size: 80%;
    font-weight: 600;
}

