.nav-link {
  color: white;
  width: fit-content;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  display: grid;
  place-items: center;
}

.nav-link:hover {
  background-color: white;
  border-radius: 15px;
  color: var(--primary-color) !important;
}
